/* 
* Author: Hasan
* Github: https://github.com/hasanrafi69
* Email: hasanrafi69@gmail.com
* Mobile: +880-161-782323
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.w-18 {
    width: 18%!important;
}
.fab, .fas {
    padding: 5px;
    border-radius: 50%;
}
.fb{
    background:#4267B2;
    color:#fff;
}
.twit{
    background: #1DA1F2;
    color: #fff;
}
.insta{
    background-image: linear-gradient(#8a3ab9, #bc2a8d,#fccc63);
    color: #fff;
}
.wapp{
    background: #25d366;
    color: #fff;
}
.ytube{
    background: #FF0000;
    color: #fff;
}
.fa-print {
    background: #626262;
}
.title h1 {
    border-bottom: 2px solid #0d6efd;
    width: 100%;
    color: #0d6efd;
    font-weight: 600;
}
/* ======== NavBar========= */

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0);
}

/* Single Phone */
#sensor li {
    list-style: none;
    float: left;
    overflow: hidden;
}

.card {
    box-shadow: 1px 2px 5px #0d6efd9c;
}

/* =========Scroll=========*/

::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #0d6efd;
    border-radius: 10px;
    background-color: #fff;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #0d6efd;
    border-radius: 10px;
    height: 50px;
}


/* ========Media Query========= */

@media (max-width: 767px) {
    .w-18 {
    width: 50%!important;
    }
    .w-75 {
    width: 100%!important;
}
    .navbar-toggler:focus {
        box-shadow: 0 0 0 1px #fff;
    }
}